header{
    background: rgba(195, 129, 17, 0.553);
    padding: 0;
    border-bottom: 3px solid rgba(60, 219, 255, 0.879);
}

a{
    color: black;
}

a:hover{
    background: rgb(105, 76, 22);
    color: white;

}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-family: 'Fresian';
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}

strong{
    font-family: 'AttackPosition';
    font-size: 20px;
}
a.Foodheader{

    padding: 1em;
    display: inline-block;
    

}