ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 25rem;
    width: 25rem;
    background-color: #767474;/* color bg des cases */
    border: 2px solid rgba(60, 219, 255, 0.879);
    border-radius: 0rem 0rem 0 4rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: rgba(60, 219, 255, 0.879);
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}


.favorite{
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem; 
}

.favorite.not{
    color: grey;
}
/* changer les couleur et les info un foix la font donner*/
.origine{
    
    border-radius: 0.5rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: 1rem;
    color: gray;
    margin-right: .3rem;
}

.cook{
    font-size: .8rem;
    flex: 3;
    text-align: right;
}

.price{
    color: #414141;
    margin-top: .7rem;
}

.name{
    font-weight: bold;
}
